numpy==1.26
torch<2.6
torchvision==0.20
pandas>=2.0
geopandas>=0.13
fsspec
adlfs
earthengine-api
segmentation_models_pytorch
georeader-spaceml>=1.4.10
matplotlib
matplotlib-scalebar
tqdm
scipy
scikit-image
satalign==0.1.1
wandb
torchmetrics
scikit-learn