numpy
torch
torchvision
pandas>=2.0
geopandas>=0.13
fsspec
adlfs
earthengine-api
segmentation_models_pytorch
georeader-spaceml>=1.5.9
matplotlib
matplotlib-scalebar
folium
tqdm
scipy
seaborn
scikit-image
satalign==0.1.1
wandb
torchmetrics
scikit-learn
huggingface_hub[cli,torch]
xarray
netcdf4
rasterio
shapely
cloudsen12-models